/* 
TODO:
button anims / weight
header scramble animation
glow anim on results when scrambled?
*/


@media screen and (min-width: 768px) {
    
}

/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Averia Serif Libre','Courier New';
    font-weight: 300;
    font-size: 1.1rem;
    color: #000000;
    min-height: 100%;
    position: relative;
}

body {
    margin: 0 0 25px;
}

/*  Header Styles */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 3px double #9E9E9E;
    background: #fff;
}

header h1 {
    font-size: 2.92rem;
    font-family: 'Bungee Shade', cursive;
    font-weight: 500;
    padding: 10px 0;
    letter-spacing: 1px;
}

/*  main styles */

main {
    margin: 0 auto;
    width: 95%;
    max-width: 729px;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    margin-top: 5px;
}

.textDiv {
    width: 100%;
    height: 30%;
}

.textDiv textarea {
    width: 100%;
    border: 3px double #9e9e9e;
    text-decoration: none;
    font-family: 'Averia Serif Libre','Courier New';
    font-size: .9rem;
    padding: 5px;
}

textarea:focus {
    background: cornsilk;
}

.textDiv label {
    display: block;
}

.controlsDiv {
    display: flex;
}

.options {
    width: 80%;
    padding: 5px 5px;
    border-radius: 5px;
    border: 3px double #9E9E9E;
    margin-right: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 auto;
}

button {
    border: none;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Averia Serif Libre','Courier New';
    font-size: 1rem;
}

button[type="submit"] {
    flex: 1 1 auto;
    background: #008CBA;
}

button[type="reset"] {
    padding: 3px 24px;
    flex: 1 1 auto;
    background: #F44336;
    margin-top: 5px;
}

hr {
    margin: 10px 0;
    border-top: 3px double #9E9E9E;
}

.resultsDiv p {
    background: cornsilk;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 10px;
}

/*  footer styles */

footer {
    height: 20px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    font-size: .8rem;
    color: darkgray;
    background: lightgray;
    width: 100%;
}

/* media queries for large and up */

