/*  TODO
    - button animation
    - get real colors
    - properly space layout
    - add breakpoints / mobile-tablet layouts */

* {
    font-family: 'Averia Serif Libre','Courier New';
    font-weight: 300;
    box-sizing: border-box;
    color: #000;
}
body {
    background: #f5f5f5;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 400px;
    width: 65%;
    margin-top: 50px;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 880px;
    background-color: white;
}
#title {
    margin: 0;
    font-size: 2.92rem;
    font-family: 'Bungee Shade', cursive;
    font-weight: 500;
    padding: 5px;
    border-bottom: 3px double #000;
}
#subtitle {
    max-width: 15rem;
}
#userText {
    resize: none;
    width: 100%;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F5F5F5;
    border: 3px double #9E9E9E;
}
.display {
    background: #FFECB3;
    border: 3px double #9E9E9E;
    color: #333;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 30%;
    padding: 0 2rem;
}
.display p {
    padding: 20px;
    font-weight: 700;
    line-height: 1.3;
}
.form {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.form * {
    margin-top: 5px;
}
.form > label {
    /* hide the textarea label */
    display: none;
}
.form button {
    display: block;
    background-color: cornflowerblue;
    color: white;
    font-weight: 600;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;

}
.subform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
fieldset {
    border-radius: 5px;
    border: 3px double #9E9E9E;
    flex: 1 0 40%;
}